.metadata/.lock
.metadata/
PlayBoyWeb/.settings/
PlayBoyWeb/bin/
PlayBoyWeb/.gradle/
PlayBoyWeb/build/
.recommenders/
readme/playboy.asta.lock
readme/vertx.asta.lock
PlayBoyWeb/upload/
core/.settings/
bot/.settings/
core/.gradle/
PlayBoy/.gradle/
PlayBoy/.settings/
Proto/.settings/
Deploy/.settings/
Bot/logs/
PlayBoy/logs/
Bot/.gradle/